.leftNavBar {
    position: fixed;
    top:65px;
    background-color: white;
    width: 200px;
    height: 500px;
    box-shadow: 2px 2px 10px lightgrey;
}

.leftNavBarMenu{
    position: relative;
    
}


/* .navLogo {
    display: grid;
        place-items: center;
        height: 120px;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Mochiy Pop P one', sans-serif;
} */

.MenuIndicator{
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40%);
    border-radius: 10px;
    background-color: red;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}


.LeftNavBarMenuItem {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 20px;
    color: #555555;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.LeftNavBarMenuItemIcon{
    margin-right: 1rem;

}

 :link{
     text-decoration: none;
 }



 .navDropdown .dropDownBtn{
     width: 11rem;
     cursor: pointer;
     font-size: 20px;
     border-style: solid;
     border-color: lightgray;
     border-radius: 5px;
     background-color: whitesmoke;
     padding: 5px;
     margin: 0px;
 }


 .navDropdown {
    float: left;
    overflow: hidden;
  }

.navDropdown:hover  .dropDownBtn:hover {
    background-color: lightgray;
}

.navDropdown-Content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 11rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navDropdown-Content div {
    float: none;
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .navDropdown-Content div:hover {
    background-color: #ddd;
  }
  
.show {
    display: block;
  }